aiodns==2.0.0
aiohttp==3.6.2
altgraph==0.16.1
astroid==2.3.3
async-timeout==3.0.1
attrs==19.1.0
auto-py-to-exe==2.8.0
beautifulsoup4==4.9.1
bottle==0.12.19
bottle-websocket==0.2.9
bs4==0.0.1
cachelib==0.1
cachetools==4.1.0
certifi==2019.11.28
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cloudpickle==0.5.3
colorama==0.4.3
comtypes==1.1.7
cryptography==2.9
cycler==0.10.0
dask==0.18.2
decorator==4.3.0
diskcache==4.1.0
docopt==0.6.2
Easy-Decorator==1.2
EasyWidgets==0.3.5
EasyYoutubeMusic==1.0.0
EatLint==1.1.0
ebaysdk==2.1.5
Eel==0.12.4
et-xmlfile==1.0.1
Flask==1.1.2
flask-unsign==0.1.0
FormEncode==1.3.1
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
idna==2.8
imageio==2.3.0
importlib-metadata==3.7.3
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.3
joblib==0.15.1
kiwisolver==1.0.1
lazy-object-proxy==1.4.3
lxml==4.4.2
MarkupSafe==1.1.1
matplotlib==2.2.2
maxminddb==1.5.2
mccabe==0.6.1
mezmorize==0.28.2
mps-youtube==0.2.8
multidict==4.7.2
networkx==2.1
numpy==1.15.0
openpyxl==3.0.3
pafy==0.5.4
pandas==0.23.4
Paste==3.2.0
pefile==2019.4.18
Pillow==5.2.0
pipreqs==0.4.10
proxybroker==0.3.2
pycares==3.1.0
pycparser==2.18
pyfiglet==0.8.post1
pygit==0.1
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pylint==2.4.4
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pyparsing==2.2.0
pypiwin32==223
PyQt5==5.15.0
PyQt5-sip==12.8.0
python-chess==0.29.0
python-dateutil==2.7.3
python-dotenv==0.17.0
pyttsx3==2.71
pytz==2018.5
PyWavelets==0.5.2
pywin32==228
pywin32-ctypes==0.2.0
pywinauto==0.6.8
PyYAML==5.1
requests==2.22.0
retrying==1.3.3
ring==0.7.3
scikit-image==0.14.0
scikit-learn==0.19.2
scipy==1.1.0
selenium==3.141.0
six==1.11.0
soupsieve==2.0.1
toolz==0.9.0
torch==1.4.0
torchvision==0.2.1
tqdm==4.24.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.7
WebOb==1.8.5
websockets==8.1
Werkzeug==1.0.1
whichcraft==0.6.1
wirerope==0.3.0
wrapt==1.11.2
XlsxWriter==1.2.9
yarg==0.1.9
yarl==1.4.2
youtube-dl==2019.5.11
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.3.0